---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Réservation Confirmée">
    <h1>Merci ! Votre réservation a bien été enregistrée.</h1>
    <p>Un événement a été ajouté à notre calendrier. Nous vous contacterons sous peu pour confirmer les derniers détails.</p>
    <a href="/">Retour à l'accueil</a>
</Layout>