---
import Layout from '@/layouts/Layout.astro';
---
<Layout title="Contact Us">
    <h1>Contact Us</h1>
    <p>For any specific request or a personalized quote, feel free to get in touch.</p>
    <ul>
        <li><strong>Phone:</strong> <a href='&#109;ailto&#58;&#48;12345678&#57;'>0&#49;234567&#56;&#57;</a></li>
        <li><strong>Email:</strong> <a href='m&#97;&#105;lt&#111;&#58;bill&#37;2Es&#104;%&#54;9pcar&#115;%4&#48;&#103;m%61&#105;l%2&#69;&#99;om'>b&#105;l&#108;&#46;shipcar&#115;&#64;gm&#97;il&#46;com</a></li>
    </ul>
</Layout>