---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contactez-nous">
    <h1>Nous Contacter</h1>
    <p>Pour toute demande spécifique ou un devis personnalisé, n'hésitez pas à nous joindre.</p>
    <ul>
        <li><strong>Téléphone :</strong> 01 23 45 67 89</li>
        <li><strong>Email :</strong> contact@votrevtc.fr</li>
    </ul>
</Layout>